@baseColor: #6495ED;

.baseColor {
   color: @baseColor;
}

.register {

   .content {
      padding: 20px;

      .input {
         margin-top   : 25px;
         border-bottom: 1px solid #ccc;
      }
   }
}

.apply {
   .stepCard {
      background-color: rgba(0, 0, 0, 0) !important;
      height          : 80px;

      :global {
         // .adm-card{

         // }
         .adm-step-status-process {
            --icon-color: @baseColor;
         }
      }
   }

}

.applyForm {
height: 100vh;
   .title {
      text-align: center;
      font-size : 20px;

      span {
         font-weight: normal;
         font-size  : 18px;
      }
   }

   .cardForm {
      :global {
         .adm-list-card {
            background: #fff;
         }

         .adm-list-body {
            background: none;
         }
      }
   }
}